{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Password Changed Successfully{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/password-reset.css' %}">

{% endblock %}

{% block content %}

<div class="password-reset-container">
    <div class="password-reset-content">
        <h2>Password Changed Successfully</h2>
        <p>Your password has been changed successfully.</p>
        <div class="done-btns">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'profile' %}">Profile</a>
        </div>
    </div>
</div>
{% endblock %}