{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/password-reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container content-pd-t70">
    <div class="password-reset-content">
        <div class="password-confirm">
            <h2>Enter New Password</h2>
            <p>Enter a new password to complete the reset process.</p>

            <form method="post" onsubmit="validatePassword(event)" id="new_password_form">
                {% csrf_token %}
                <div class="form-group-div">
                    <label for="id_new_password1">New password:</label>
                    <div class="form-group">
                        <input type="password" name="new_password1" id="id_new_password1" placeholder="New password"
                            required>
                        <i class="visibility-toggle-icon"
                            onclick="togglePassword('id_new_password1', 'toggleIconNew_p1')">
                            <ion-icon id="toggleIconNew_p1" name="eye-outline"></ion-icon>
                        </i>
                    </div>
                </div>

                <div class="rules">
                    <h3>Password Requirements:</h3>
                    <ul>
                        <li id="upperCase"><ion-icon name="close-circle-outline"></ion-icon> Upper Case Character</li>
                        <li id="lowerCase"><ion-icon name="close-circle-outline"></ion-icon> Lower Case Character</li>
                        <li id="minLength"><ion-icon name="close-circle-outline"></ion-icon> At least 8s characters</li>
                        <li id="number"><ion-icon name="close-circle-outline"></ion-icon> Numeric Character</li>
                        <li id="special"><ion-icon name="close-circle-outline"></ion-icon> Special Character</li>
                        <li id="matchPassword"><ion-icon name="close-circle-outline"></ion-icon> Passwords Match</li>
                    </ul>
                </div>

                <div class="form-group-div">
                    <label for="id_new_password2">New password confirmation:</label>
                    <div class="form-group">
                        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm password"
                            required>
                        <i class="visibility-toggle-icon"
                            onclick="togglePassword('id_new_password2', 'toggleIconNew_p2')">
                            <ion-icon id="toggleIconNew_p2" name="eye-outline"></ion-icon>
                        </i>
                    </div>
                </div>

                <button type="submit" class="btn">Change my password</button>
            </form>

            <p><a href="{% url 'auth' %}">Back to Login</a></p>
        </div>
    </div>
</div>

<script src="{% static 'mainapp/js/password-reset.js' %}"></script>
{% endblock %}