{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %} Booking Successful {% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/success-style.css' %}" />

{% endblock %}

{% block content %}
<div class="div-container">
    <div class="card-div">
        <div class="wrapperAlert">
            <div class="topHalf">
                <div class="tick">
                    <div class="check-container">
                        <div class="check-background">
                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="check-shadow"></div>
                    </div>
                </div>

                <div>
                    <h1>Congratulations</h1>
                </div>

                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="bottomHalf">
            <p>
                Your Booking Has Been Confirmed!
            </p>
            <p>Thank you for choosing our service. We look forward to serving you!
            </p>
            <div class="btns">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'profile' %}">Profile</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}