{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Password Reset Successful{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/password-reset.css' %}">

{% endblock %}

{% block content %}

<div class="password-reset-container">
    <div class="password-reset-content">
        <h2>Password Reset Successful</h2>
        <p>Your password has been reset. You can now.</p>
        <div class="done-btns">
            <a class="w-50p" href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</div>
{% endblock %}